body
{
  font-family: sans-serif;
  background: #eee;
}

h1, h2
{
  color: #377ba8;
}

h1, h2
{
  font-family: 'Georgia', serif;
}

h1
{
  border-bottom: 2px solid #eee;
}

h2
{
  font-size: 1.2em;
}

.flash
{
  background: #cee5F5;
  padding: 0.5em;
  border: 1px solid #aacbe2;
}

.error
{
  background: #f0d6d6;
  padding: 0.5em;
}

.success
{
  background: #34d027;
  padding: 0.5em;
}

table.questions
{
  border: 2px solid;
  border-color: black;
  border-collapse: collapse;
  background: #aacbe2;
}

table.questions th, table.questions td
{
  border: 1px solid;
  padding: 10px;
}

table.submissions
{
  border: 2px solid;
  border-color: black;
  border-collapse: collapse;
  background: #aacbe2;
}

table.submissions th, table.submissions td
{
  border: 1px solid;
  padding: 10px;
}

.question-body
{
  display: inline-block;
  padding: 20px;
  border: 2px dashed;
  white-space: pre-line;
}

.submission-source-code
{
  display: inline-block;
  padding: 20px;
  border: 2px dashed;
  white-space: pre;
  margin: 0;
}
