body
{
  font-family: sans-serif;
  background-color: #eee;
}

h1, h2
{
  color: #377ba8;
}

h1, h2
{
  font-family: 'Georgia', serif;
}

h1
{
  border-bottom: 2px solid #eee;
}

h2
{
  font-size: 1.2em;
}

.flashes
{
  float: left;
}



.error
{
  background: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
}

.success
{
  background: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #3c763d;
}

table.questions
{
  border: 2px solid;
  border-color: black;
  border-collapse: collapse;
  background: #aacbe2;
}

table.questions th, table.questions td
{
  border: 1px solid;
  padding: 10px;
}

table.submissions
{
  border: 2px solid;
  border-color: black;
  border-collapse: collapse;
  background: #aacbe2;
}

table.submissions th, table.submissions td
{
  border: 1px solid;
  padding: 10px;
}

.question-body
{
  display: inline-block;
  padding: 20px;
  border: 2px dashed;
  white-space: pre-line;
}

.submission-source-code
{
  display: inline-block;
  padding: 20px;
  border: 2px dashed;
  white-space: pre;
  margin: 0;
}

#main-container {
  background-color: #fff;
}

#main-container > div {
  margin: 10px;
}
