'''
    <!DOCTYPE html>
    <html>
    <head>
        <title>PiCS Register</title>
    </head>
    <body>
        <h1>Log In</h1>
        <form method="POST" action="/loginsubmit">
            <table>
                <tr>
                    <td>Username:</td>
                    <td>
                        <input type="text" id="username" name="username" placeholder="Your username..." />
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input type="password" id="password" name="password" placeholder="Your password..." />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Submit" name="submit" id="submit" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
    </html>
'''