{% set navigation_bar = [
('/', 'index', 'Index'),
('/questions', 'questions', 'Questions'),
('/users', 'users', 'Users')
] -%}

{% if not session.logged_in %}
{% set user_or_guest_nav = [
('/login', 'login', 'Login'),
('/registration', 'register', 'Register')
] -%}
{% else %}
{% set user_or_guest_nav = [
('/submissions', 'submissions', 'Submissions'),
('/results', 'results', 'Results'),
('/users/' ~ session.user_id, 'profile', 'My Profile'),
('/logout', 'logout', 'Logout')
] -%}
{% endif %}

{% set navigation_bar = navigation_bar + user_or_guest_nav %}

{% set active_page = active_page|default('index') %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <title>{{ title }}</title>
  </head>
  
  <body>
    <div id="main-container" class="container">
      <div class="container">
        <nav class="navbar navbar-dark bg-inverse">
          <ul class="nav navbar-nav">
            {% for href, id, caption in navigation_bar %}
            <li {% if id == active_page %} class="active nav-link" 
                {% else %} class="nav-link" {% endif %}>
              <a href="{{ href }}">{{ caption }}</a>
            </li>
            {% endfor %}
            
          </ul>
        </nav>
      </div>

      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        <div class="flashes">
          {% for category, message in messages %}
          <div class="alert {{ category }}">
            <strong>{{ message }}</strong>
          </div>
          {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}

          {% block body %}
          {% endblock %}
        </div>
      </div>

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
