{% extends 'layout.html' %}
{% set title = 'PiCS Questions' %}
{% set active_page = "questions" %}

{% block body %}
<h1>PiCS Questions</h1>
<table class="questions">
  <thead>
    <tr>
      <th>Id:</th>
      <th>Title:</th>
      <th>Last Attempted:</th>
    </tr>
  </thead>
  <tbody>
    {% for question in questions %}
    <tr>
      <td>{{ question.id }}</td>
      <td><a href="/questions/{{question.id}}">{{ question.title }}</a></td>
      <td>TBI</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
