{% extends 'layout.html' %}
{% set title = 'PiCS Registration' %}

{% block body %}
<h1>Register for a Portal into Computer Science!</h1>
<form method="POST" action="/registration-submit">
  <table>
    <tr>
      <td>Username:</td>
      <td>
        <input type="text" id="username" name="username" placeholder="Your username..." />
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td>
        <input type="password" id="password" name="password" placeholder="Your password..." />
      </td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>
        <input type="email" id="email" name="email" placeholder="Your email address..." />
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="Submit" name="submit" id="submit" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}
